<h1> All Baby Products </h1>
<div>
    <ul>
        <% @bps.each do |baby_product| %>
            <li><%=baby_product.name%><br>
            <%=baby_product.price%><br>
            <%=baby_product.product_type%><br>
            <%=baby_product.url%></li>
            <br>
            <br>
        <% end %>
    </ul>
</div>