<h1> All Baby Products </h1>
<div>
    <ul>
        <% @bps.each do |baby_product|%>
        <li><%= link_to baby_product.name, baby_product_path(baby_product) %> - <%= baby_product.product_type%> </li>
        <% end %>   
    </ul>  
</div>

