// Place all the styles related to the baby_products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.form-styles {
    color: white;
    font-size: 30px;

    // padding: 10px;
}

.button {
    font-size: 25px;
    padding: 3px;

}